body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: hsl(212, 45%, 89%);
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
